@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

/*Css for Date finder */
body {
  font-family: 'Roboto', sans-serif;vertical-align:middle;
  font-weight: 200;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #333;
}
.ui-mobile body {
  height: 100%;
}
strong {
  font-weight:300;
  color:#539D00;
}
.ui-listview>.ui-li-static {
  white-space: normal;
}

#closebutton {
margin-top: 50px;
}
.panel {
  overflow: auto;
  min-height: 100%;
  height: 100%;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
div#details-menu {
  width: 10px;
  padding-top: 10px;
  height: 0;
  border-radius: 2px;
  background-color: #e9e9e9;
  border: 1px solid #eee;
  overflow: hidden;
  -webkit-transition: height 0.5s, width 0.5s, padding-top 0.5s; /* For Safari 3.1 to 6.0 */
  transition: height 0.5s, width 0.5s, padding-top 0.5s;
  
  text-align: center;
  float: right;
  margin-top: 5px;
}
#details-menu input {
  display: none;
  height: 20px;
  width: 20px;
}
div#details-menu:hover {
  height: 26px;
  width: 46px;
  margin-left: 5px;
  padding: 3px;
  padding-top: 6px;
}
#flagclick {
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#details-menu img {
  opacity: 0.7;
  cursor: pointer;
  height: 20px;
  max-width: 20px;
}

#details-menu img:hover {
  opacity: 1;
}

/*
.ui-panel-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    
    
}
.ui-panel {
  min-height: 100vh;
}*/

#landing-background-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  display: block;
  background-image: url('../img/happy-couple.jpg');
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#landing-page {
  text-align: center;
}
#dcont {
  margin-left: -1em;
  margin-right: -1em;
  clear: both;
  margin-bottom: -0.8em;
}
#dtitle {
  display: block;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  margin-right: 0.2em;
}
*.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#linktext {
  float: left;
}
h4 {
	color: #444;
	font-size: 18px;
	font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle;
	font-weight: 400;
	margin: 0;
	margin-bottom: 10px;
}
.title, .subtitle{
  color: #444;
  font-size: 28px;
  font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle;
  font-weight:200;
}
.hometitle, .homesubtitle {
  color: #FFF;
  font-size: 48px;
  font-family: Open Sans, sans-serif;
}
.hometitle {
  margin-top: 80px;
  font-size: 128px;
  font-weight: 100;
}

@media (max-width: 500px) {
	.hometitle {
		font-size: 80px;
		margin-top: 20px;
    position: relative;
    top: -40px;
    line-height: 1;
	}

	.homesubtitle {
		font-size: 36px;
    position: relative;
    top: -80px;
    margin-bottom: -50px;
	}
  #details-menu {
    display: none;
  }

}

.subtitle {
  font-weight: 300;
}
#dprice {
  float: right;
  color: #828282;
  margin-bottom: 0.4em;
}
#dname {
  white-space: normal;
  margin-left: -.5em;
}
#dtitle {

}
.landing-content {
	position: relative;
	color: #585858;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
}
#detailslist {
  margin-top: 0.5em;
  clear: both;
}
.mapbutton {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgb(126, 126, 126);
    text-align: center;
    border: 1px solid gray;
    cursor:pointer;
}
.error {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FF4136;
}
#toast, .toast {
    color: #fff;
    display: inline-block;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: absolute;
    font-size: 150%;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    text-align: center;
    max-width: 40%;
    padding: 5px;
    border-radius: 8px;
    background-color: #333;
    opacity: 0.7;
    text-shadow: none;
    font-style: italic;
    z-index: 1002;
}

#addbutton {
    position: fixed;
    bottom: 72px;
    left: 5px;
}
#accountbutton {
    position: fixed;
    bottom: 16px;
    left: 5px;
}

.mapbutton img {
    margin-top: 6px;
}

#continue {
	text-align: center;
	background-color:rgba(41,128,185,0.5);
	padding: 10px;
	border-radius: 5px;
	color: black;
	text-shadow: none;
	margin-top: 50px;
  font-family: Roboto;
}



#map-page {
	position: absolute;
	top: 0px;
	min-height:100% !important;
  min-width: 100% !important;
	bottom: 0px;
}
#map_canvas {
	height: 100% !important;
	width: 100% !important;
}

.account-option {
	margin-bottom: 10px;
	border: 1px solid gray;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	color: #585858;
}

a {
	text-decoration: none;
}

#score {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	right: 10px;
}
/*.panel {
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}*/

  .controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  }

  #pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 200px;
    max-width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    position: absolute;
    left: 5%;
    top: 10px;
    -webkit-transition: height 0.5s, width 0.5s, padding-top 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s, width 0.5s, padding-top 0.5s;
  }
  #pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 400px;
    max-width: 420px;
  }
  @media (max-width: 600px) {
  	#pac-input {
  		width: 50%;
  	}
    #pac-input:focus {
      width: 60%;
    }
  }



  .pac-container {
    font-family: Roboto, sans-serif;

  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;

  }

  #type-selector label {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }

  .account-login-button {
  	margin-top: 50px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #filter {
    position: absolute;
    border-bottom-width: 0;
    top: 6px;
    right: 10px;
    min-width: 70px;
  }
  /*Fix to margin of display panel*/
  .ui-panel-inner>.ui-listview {
    margin-top: 0;
  }
